.ac{
    background-color:#FFFFCC ;
}
table{
    border-spacing: 0;
    text-align: center;  
}
td, th {
    padding: 10px;
    
}
tr:hover td {
    background-color: #FFFF66; 
}
.fondo{
    background-image: url(/Diw/Selectores/img/fondo_gris.gif);
}

