*{
    padding: 0px;
    margin: 0px;
}
body{
    padding-top: 20px;
    text-align: center;
    background: linear-gradient(rgb(248, 105, 43), rgb(248, 209, 216));
}
#page{
    width: 960px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
header{
    font:Courier ;
    color: white;
    size: 1.1em;
    border-bottom: 6px;
    border: solid;
    border-color: black;
    background: linear-gradient(rgb(28, 135, 235), rgb(139, 204, 239));
}
h1 {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
nav{
    font:courier 1.4em silver;
    text-align: center;
    background: linear-gradient(rgb(231, 220, 2), rgb(193, 197, 117));
}
nav li{
    list-style-type: none;
}
nav li a{
    padding-top: 80px;
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#contenidos{
    background-image: url(../img/book.png);
    background-repeat:no-repeat ;
    text-align: center;
    margin-top: 10px;
    
    
}

#videos{
    background-image: url(../img/film.png);
    background-repeat:no-repeat ;
    text-align: center;
    margin-top: 10px;
}
#contacto{
    background-image: url(../img/mail.png);
    background-repeat:no-repeat ;
    text-align: center;
    margin-top: 10px;
}
li a{
    text-decoration: none;
    color: orange;
}
li a:hover{
    color: white;
}
section{
    font: verdana 0.8em;

    background-image: url(../img/lgrey008.jpg) ;
}
.article {
    width: 220px;
    text-align: center;
    line-height: 1.8em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: white;
    padding-bottom: 22px;
    margin: 20px;
    float: left;
    border: 25px solid;
    border-image: url(../img/movil.png);
    border-image-slice: 68 50 65 50; 
}

.clearfix:before,
.clearfix:after,
section
{
width:100%;
display: table;
} 
.article_header{
    border-bottom:1px #999999 solid ;

}
h2{
    font-size: 1.2em;
    padding: 10px;
}
footer{
    color: white;
    text-align: center;
    background: linear-gradient(rgb(28, 135, 235), rgb(139, 204, 239));
    border-top: 6px;
    color: black;
    border: solid;
    padding-top:15px ;
    padding-bottom: 15px;
}