nav{
    background-color: brown;
    height: 20px;
}
@media all and (max-width: 600px)
{
div, nav, header, aside, main
{
/* Cuando el ancho sea inferior a 600px el elemento será un bloque */
display: block !important;
/* Se ajustarán al ancho de la ventana */
width: 100% !important;
margin: auto !important;
/* La posición será estática (flujo normal del documento) */
position: static !important;
/* los elementos dejarán de ser flotantes */
float: none !important;
}
aside {
    /* Cambia la altura a 200px cuando el ancho sea menor a 600px */
    height: 400px !important;
}
}

nav{
    background-image: url("../img/banner.avif");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-color: brown;
    background-color: brown;
    background-size: cover;
}

header{   
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-color: aquamarine;

}

aside{
    background-repeat: no-repeat;
    width: 35%;
    height: 300px;
    float: left;
    background-color: rgb(133, 40, 191);

}
main{   

    height: 300px;
    background-color: rgb(137, 137, 137);
    background-color: brown;

}