/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Cabecera */
#banner {
    text-align: center;
    font-size: 30px;
    height: 160px;
    line-height: 160px;
    color: white;
    background-color: #071357;
    margin: 0;
}
h1{
    text-shadow: red;
}
#banner img {
    vertical-align: middle;
    max-height: 90%;
    max-width: 100%;
}
#logo{
    float: left;
    width: 150px;
    height: 150px;
}

/* Estilos para el menú */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    height: 90px;
}

nav{
    background-color: #bec3c1;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(255,255,255,0.3);
}
li{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}

li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 1s;
}

li::after {
    content: '';
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width .5s;
}

li a:hover {
    color: rgb(4, 52, 80);
}

li:hover::after {
    width: 100%;
    background-color: rgb(45,168,240);
}




/* Menú principal */

nav > ul > li {
    display: inline-block;  /*Los ponemos en horizontal*/
    text-decoration: none;  /*list-style: none;*/
    margin: 50px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}



/*Submenu Desplegable*/
#submenu {
    /*El padre marca origen de las coordenadas*/
    position: relative;
}

/*Enlaces del submenú*/
#submenu > ul > li > a {
    color: rgb(0, 0, 0);
    margin: auto;
    text-decoration: none;
}

/*Todo el submenú*/
#submenu > ul {
    /*Hijo marca las coordenadas como desea, por ser su padre relative*/
    position: absolute;
    left: 10px;
    /*Para que se mantenga oculto*/
    height: 0px;
    overflow: hidden;
    width: 145px;
    /*Transición de altura, tipo y duración*/
    transition: height linear 0.3s;
    /*Para que no se solapen*/
    z-index: 2;
}
/*La transición*/
#submenu:hover > ul {
    height: 140px;
}


/*Cada elemento del submenú */
#submenu > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px;
}


/* Redondear los bordes */
#submenu > ul > li:first-child {
    /*Redondeo superior*/
    border-radius: 8px 8px 0px 0px;
    margin-top: 15px;
    position: relative;
}
#submenu > ul > li:last-child {
    /*Redondeo inferior*/
    border-radius: 0px 0px 8px 8px;
}


/*Para que aparezca el triángulo en el menú*/
/*Son el 1º hijo del 2º nivel del submenú*/
nav > ul > li > ul > li:first-child:before {
    /*Sino nos sale nada*/
    content: '';
    /* Esta se referencia con la anterior relativa (padre) */
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    /* Como es un cuadrado (BORDES) pero solo le pongo dimensión en la bottom
    lo que conseguimos es que haga un triángulo */
    border-bottom-color: #b3b3b3;
     /* Posición del contenedor donde aparece, mitad en este caso */
    left: 50%;
    top: -11px;
    margin-left: -5px;
    z-index: 19;
}






/* Secciones */
div section {
    width: 330px;
    text-align: center;
    line-height: 1.8em;
    padding: 10px;
    background-color: white;
    margin: 20px 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    display: inline-block;
  
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Para alinear arriba */
    padding-top: 50px; /* Espacio en la parte superior */  
}

span{
    height: 40px;
}
/*img*/
section img{
    width: 100%;
    height: 250px;
}

/* Barra lateral */
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    padding-left: 20px;
    margin-top: 300px;
    position: absolute;
}

aside a{
    color: black;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    font-size: 14px;
    height: 110px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-columns {
    display: flex;
    justify-content: space-around; /* Distribuye las columnas equitativamente */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan a la siguiente línea */
}

.column {
    flex: 1;
    max-width: 300px; /* Ancho máximo de cada columna */
    padding: 0 20px;
    box-sizing: border-box; /* Para incluir el padding en el ancho máximo */
}

/*estilos tablas productos*/

table{
    margin-bottom: 140px;
    margin-top: 40px;
}

table th{
    background-color: rgb(223, 193, 159);
}
.ac{
    background-color: rgb(249, 124, 124);
}

