
/*Ecabenzado h1 estilo con el logo*/

#banner{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 2;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 160px;
    color: white;
    background-color: #011376;
    margin-bottom: 0px;
}
body{
    background-color: #e2dfde;
    text-align: center;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
  }

section{
    width: 330px;
    text-align: center;
    line-height: 1.8em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: white;
    padding-bottom: 22px;
    margin-left: 25%;
    float: left;
}
.Productos{
  border-spacing: 90px;
}
/*
el tamaño de las imgenes seran de 50px.
*/
img{
    width: 100%;
    height: 100%px;
    display: block;


}
#logo{
    width: 100px;
    height: 100px;

}
a{
    text-decoration: none;
    color: rgb(245, 88, 88);
}
/*barra lateral*/
aside{
    padding-left: 10px;
    float: right;
    margin-right: 5px;
    width: 230px;
    position: relative;
    margin-top: 30px;
}
/* Menú principal */
nav a::after{
    content: "|";
    padding: 0 10px;
}
nav{
    text-align: center;
    background: linear-gradient(rgb(2, 178, 231), rgb(217, 217, 209));

}
nav > ul > li {
    display: inline-block;  /*Los ponemos en horizontal*/
    text-decoration: none;  /*list-style: none;*/
    margin: 50px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}



/*Submenu Desplegable*/
#submenu {
    /*El padre marca origen de las coordenadas*/
    position: relative;
}

/*Enlaces del submenú*/
#submenu > ul > li > a {
    color: white;
    margin: auto;
    text-decoration: none;
}

/*Todo el submenú*/
#submenu > ul {
    /*Hijo marca las coordenadas como desea, por ser su padre relative*/
    position: absolute;
    left: 10px;
    /*Para que se mantenga oculto*/
    height: 0px;
    overflow: hidden;
    width: 145px;
    /*Transición de altura, tipo y duración*/
    transition: height linear 2s;
    /*Para que no se solapen*/
    z-index: 2;
}
/*La transición*/
#submenu:hover > ul {
    height: 200px;
}


/*Cada elemento del submenú */
#submenu > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px;
    background-color: #426eff;
}
/*Solo Impares*/
#submenu > ul > li:nth-child(odd) {
    background-color: #4248ff !important;
}


/* Redondear los bordes */
#submenu > ul > li:first-child {
    /*Redondeo superior*/
    border-radius: 8px 8px 0px 0px;
    margin-top: 15px;
    position: relative;
}
#submenu > ul > li:last-child {
    /*Redondeo inferior*/
    border-radius: 0px 0px 8px 8px;
}


/*Para que aparezca el triángulo en el menú*/
/*Son el 1º hijo del 2º nivel del submenú*/
nav > ul > li > ul > li:first-child:before {
    /*Sino nos sale nada*/
    content: '';
    /* Esta se referencia con la anterior relativa (padre) */
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    /* Como es un cuadrado (BORDES) pero solo le pongo dimensión en la bottom
    lo que conseguimos es que haga un triángulo */
    border-bottom-color: #f06529;
     /* Posición del contenedor donde aparece, mitad en este caso */
    left: 50%;
    top: -11px;
    margin-left: -5px;
    z-index: 19;
}

