html ,body{
    padding: 0px;
    margin-top: 2px ;
  margin-left: 10
  
  
  
  
  px;
}
nav a{
    text-decoration: none;
    color: black;
    border-bottom: black;
    font-size: 20px;
    margin-left: 10px;
}
nav a::after{
    content: "|";
    padding: 0 10px;
}
hr {
    border-bottom: 1px solid #000000;
  }

.noticia1{
    padding-top: 15px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 10px;
    padding: 15px;
}
.noticia2{
    padding-top: 15px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 10px;
    padding: 15px;
}
.post{
    display:inline-block;
    margin-right: 30px;
    width: 70%;
    margin-left: 10%;
    padding:5px;
    
}
aside{
    padding-left: 10px;
    float: right;
    margin-right: 5px;
    width: 170px;
    position: relative;
    margin-top: 30px;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
  }
  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
  }
